@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Source+Sans+3:wght@400;700&display=swap');

html{
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #b63309,burlywood);
    background-attachment: fixed;
    /*background-color: burlywood;*/
    font-family: 'Source Sans 3', sans-serif;
}
body {
    width: 1280px;
    height: 930px;
    margin: auto;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),#ff8501);
    background-attachment: fixed;
    padding: 0px;
    border: 1px solid white;
    position: relative;
  }

  img{
    display: block;
    margin: 0;
    max-width: 100%;
    object-fit: cover;
    border-bottom: 1px solid white;
  }

  #all{
    width: 900px;
    height: 90px;
    line-height: 50px; /* centraliza na vertical */
    /*background-color: #f1f1f1;*/
    margin: 0 auto;
}
ul.menu{
    text-align: center; 
}
ul.menu li{
    display: inline-block; 
    margin: 0 65px;
}
ul.menu li a{
    /*background-color: #3d7bb3;*/
    background-image: linear-gradient(to top, rgba(255, 73, 1, 0.767),#fcb878);
    font-weight: 700;
    border-radius: 5px;
    padding: 20px 30px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: 0.5s;
}

ul.menu li a:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #f80303;
    border: 1px solid rgba(255, 255, 255, 1);
}


.apresentacao, .contato {
    padding: 0px;
    color: white;
    margin: 0px;
    background-image: linear-gradient(to bottom, rgba(212, 45, 23, 0.801),#f5af6e);
    background-attachment: fixed;
    /*background-color: #3d7bb3; */
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    height: 510px;
}

.apresentacao, .contato h1, p{
    padding: 5px;
    margin: 2px;
    line-height: 2;
}

label{
    display: block;
    line-height: 2;
    padding: 3px;
    margin: 2px;
}
input[type=text], textarea{
    padding: 0px;
    line-height: 2;
    width: 250px;
    font-size: 15px;
    border:1px solid #CCC;
    outline: 0;
}

textarea{
    height: 120px;
    width: 400px;
    resize: none;
}

button{
    margin: 10px;
    background-image: linear-gradient(to top, rgba(255, 73, 1, 0.767),#fcb878);
    font-family: 'Source Sans 3';
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 20px 30px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    outline:none;
    transition: 0.2s;

    
}

button:hover {
    background-image: linear-gradient(to bottom, rgba(252, 161, 109, 0.767),#ff5e00);
    cursor: pointer;
    color:white;
    border: 1.3px solid white;
}

